.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: gray;
  color: white;
  font-size: xx-large;
  position: fixed;
  top: 20%;
  left: 35%;
  width: 30%;
  border: 4px solid black;
  border-radius: 20px;
  padding: 15px;
  z-index: 60;
}

.player {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
  color: black;
}

.name {

}

.place {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rank-badge {
  color: black;
  font-size: xx-large;
  width: 30px;
  height: 30px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 50;
}

.bronze {
  background-color: #967444;
  border: 2px solid white;
}

.silver {
  background-color: #C0C0C0;
  border: 2px solid white;
}

.gold {
  background-color: #C5B358;
  border: 2px solid white;
}
